

<div class= "container-fluid" style="margin-top: 175px">

<div class="row">
  <div class="col">
    {{!-- <h2>burgers that have not been eaten!</h2>  --}}
<ul style="float: right;">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>
  </div>

  <div class="col">
    <img src="https://thumbs.gfycat.com/SoftMixedAfricangoldencat-size_restricted.gif" class="img-fluid" alt="Responsive image">
  </div>

  <div class="col">
    {{!-- <h2>burgers that have been eaten!</h2> --}}

<ul style="padding: 0;">
  {{#each burgers}}
    {{#if devoured}}
      <li>{{this.name}}</li>
    {{/if}}
  {{/each}}
</ul>

  </div>
</div>
</div>




<div class="container">

    <div class="col-md-6 offset-md-3">
      <h3 style="text-align: center;">Welcome to Good Burger - Home of the Good Burger! May I Take Your Order?</h3>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burg" name="name">
      <button type="submit">Add Burger</button>
  </div>


</form>
    </div>
</div>


{{!-- <form>
<select class="id">
    <option value="">Select a Burger</option>
    {{#each burgers}}
    {{#unless devoured}}
     <option value="{{id}}">{{this.name}}</option>
    {{/unless}}
  {{/each}}
   
</select>
<button  class="eat-burger">Devour Burger?</button>
</form> --}}

